body {
    margin: 0;
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.wrapper {
    margin: 0 auto;
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color:#ffffff;
   
}
.bar_icon {
    width: 50px;
    height: 80px;
    float: right;
    /* background-color: pink; */
    text-align: center;
    line-height: 80px;
    padding-right: 50px;
}
.bar_icon a {
    font-size: 250%;
    color:#555555;
}
#logo {
    width: 80px;
    height: 80px;
    /* background-color: lightseagreen; */
    float: left;
    margin: 0 auto;
    text-align: left;
    padding-left: 50px;
}
#logo img {
    height: 80px;
}
.banner_recruit {
    margin: 0 auto;
    width: 100%;
}
.banner_recruit img {
    margin: 0 auto;
    width: 100%;
}
.wrapper_recruit {
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.wrapper_recruit h1{
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.wrapper_recruit h1 span {
    color: #7a8a94;
}

/* 하단 메뉴 */
.footer {
    width: 100%;
    clear: both;
    bottom: 0;
    background-color: #333333;
}
.footer {
    width: 100%;
    margin: 0 auto;
    height: 400px;
}
.footer_left {
    width: 100%;
    float: center;
    margin: 0 auto;
    text-align: center;
    height: 150px;
}
.footer_left img {
    text-align: center;
    margin: 0 auto;
    float: center;
    margin-top: 50px;
}
.footer_center {
    width: 100%;
    float: right;
    text-align: center;
    margin-top: 50px;
}
.footer_center h5 {
    color: white;
    font-size: 50%;
    margin-bottom: 15px;
}
.footer_center p {
    color: white;
    font-size: 25%;
}

.footer_right {
    width: 100%;
    text-align: center;
    bottom: 0;
    clear: both;

}
.footer_right img {
    width: 35px;
    height: 35px;
}